
.stats-button {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}

.login-button {
    color: blueviolet;
    background-color: inherit;
    border: none;
    flex: 0 1 auto;
    position: absolute;
    top: 1%;
    right: 0%;
    margin-left: auto;
    text-decoration: underline;
}

#title {
    color: #FF7E00;
    flex: 0 1 auto;
    position: absolute;
    top: -50%;
    left: 0.5%;
    margin-right: auto;
}