.popup {  
    /*position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;*/
    display: inline-block;
    text-align: center;
    background-color: #383838;  
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;
    
    background: white;  
  }
  body {
    background-color: #666;
    font-family: "PT Sans", sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    border-radius: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #1b0505;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(99, 99, 99);
  }
  
  th {
    background-color: rgb(255, 253, 253);
    color: rgb(8, 0, 0);
  }

  .login {
    border: none;
    background-color: inherit;
    font-size: 2em;
    align-self: right;
    color: white;
  }