.popup {
  position: absolute;  
    top: 5%;  
    right: 5%;
    margin: auto;
    z-index: 2;
    background: #383838;
    padding: 5px;
    border: 3px solid;
    border-color: #1c1c1c;
  }  
  .popup_inner {  
    margin: 10px;
    z-index: 2;
  }

  .popup_real_inner {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
 
  .btn:disabled{ 
    color: red;
  }

.login {
  border: none;
  background-color: inherit;
  font-size: 2em;
  align-self: right;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#wintext {
  color: green;
  font-size: 48px;
}

#currentbettext {
  color: blue;
  font-size: 48px;
}

#userinfo {
  display: flex;
  flex-direction: row;
}

.login-change-button {
  background-color: inherit;
  color: blueviolet;
  text-decoration: underline;
  border: none;
}